@model IEnumerable<EcommerceCore.ViewModel.New.NewViewModel>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>News</h3>
               @* <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" data-bs-original-title="" title="">Home</a></li>
                    <li class="breadcrumb-item">ECommerce</li>
                    <li class="breadcrumb-item active">Product</li>
                </ol>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 xl-60 box-col-12">
            <div class="product-grid">
                <div class="product-wrapper-grid">
                    <div class="row">
                        @foreach (var news in Model)
                        {
                             <div class="col-xl-3 col-sm-6 xl-4">
                                <div class="card">
                                    <div class="product-box">
                                        <div class="product-img">
                                    <img class="img-fluid" src="@news.Image" alt="">
                                            <div class="product-hover">
                                            </div>
                                        </div>
                                        <div class="product-details">
                                            <a href="@Url.Action("NewsDetail", new {id = news.Id})" data-bs-original-title="" title="">
                                                <h4>@news.Title</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>