@model EcommerceCore.ViewModel.New.NewViewModel
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>News</h3>
            </div>
        </div>
    </div>
    <div class="row" style="display: flex; justify-content:center; align-content:center; flex-direction:column">
        <div><h3>@Model.Title</h3></div>
        <div style="display: flex; justify-content:center; align-content:center;">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>
        <div style="margin-top: 30px;  display: flex; justify-content:center; align-content:center; width: 100% "><p style=" font-size: 20px; max-width:80%"> @Model.Content</p> </div>

    </div>
</div>