/************* SETUP FONT - START *************/
/* be-vietnam-pro-200 - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-200italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 200;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-200italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-200italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-300italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-300 - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-regular - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-500 - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-500italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 500;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-600 - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-600italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 600;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-800 - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-800italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 800;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-900 - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-900italic - vietnamese_latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 900;
    src: local(''), url('../fonts/be-vietnam-pro-v10-vietnamese_latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/be-vietnam-pro-v10-vietnamese_latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/************* SETUP FONT - END *************/




/************* GENERAL - START *************/
body {
    font-family: Be Vietnam Pro;
    font-size: 14px;
    background-color: #f6f7fa;
}

.myadmin-dd-empty .dd-list .dd-handle {
    height: 100%;
    cursor: grab;
}

.sortable-handle {
    height: 100%;
    cursor: grab;
}

[class*='-button'] {
    cursor: pointer;
}

.myadmin-dd-empty .dd-list .dd-handle::before {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
}

[type="checkbox"].checkbox-fix + label {
    height: 18px;
}

.sortable-placeholder {
    height: 3rem;
    width: 100%;
    background-color: lightyellow;
    border: 2px dashed #c9b900;
}

.hiddenfile {
    display: none;
}

.upload-image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.select2 {
    width: 100% !important;
}


hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

    hr.hr-text::before {
        content: attr(data-content);
        display: inline-block;
        background: #fff;
        font-size: 0.85rem;
        border-radius: 30rem;
        padding: 0.2rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


#toast-container > .toast-success {
    background-color: #1b4c43;
    color: white;
}

#toast-container > .toast-error {
    background-color: #d22d3d;
    color: white;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e6edef 1px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #e6edef;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

/*#toast-container > .toast-warning {
    background-color: #e2c636;
    color: white;

/*.note-editor .dropdown-toggle::after {
    all: unset
}

.note-editor .note-dropdown-menu {
    box-sizing: content-box
}

.note-editor .note-modal-footer {
    box-sizing: content-box
}*/
.note-btn.dropdown-toggle:after {
    content: none;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav {
    top: 74px;
}

.bootstrap-tagsinput {
    margin: 0;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.25;
    transition: border-color 0.15s ease-in-out;
}

.label-info {
    display: inline-block;
    background-color: #394a7d;
    padding: 10px;
    border-radius: 0.25rem;
    margin-bottom: 0.4em;
}

/*input {
    margin-bottom: 0.5em;
}
*/
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: '\00d7';
}


.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav {
    top: 60px;
}

.page-main-header {
    height: 60px;
}

.main-header-right > div {
    height: 60px;
}

.page-main-header .left-menu-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.page-main-header .nav-right {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

    .page-main-header .nav-right .nav-menus {
        height: 60px;
    }

.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgb(81 107 170 / 0.10);
}

.hover-bg-white:hover {
    background-color: #FFF !important;
    border-radius: 0.25rem;
}
.hover-bg-light:hover {
    background-color: #ddeaf7 !important;
    border-radius: 0.25rem;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: 74vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-sticky {
    overflow: auto;
    max-height: 69vh;
}

    .table-sticky thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .table-sticky th {
        background: #ffffff;
    }
/************* OTHER - END *************/
